.container {
    display: flex;
    flex-direction: column;
    background: #e7eff5;

    min-height: 100vh;
    height: auto;
}
.content {
    flex: 1;
    width: 90%;
    margin: 55px auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    color: #80898A;
    font-size: 20px;
    line-height: 56px;
}
.button {
}
.formContainer {
    margin-top: 35px;
}
@media screen and (min-width: 1200px) {
    .container {
        background: #e7eff5;
    }
    .content {
        display: flex;
        justify-content: space-between;
    }
    .sidebar {
        width: 10%;
    }
    .dashboard {
        width: 87%;
    }
    .button {
        opacity: 1;
        padding: 10px;
        display: block;
        font-size: 16px;
        cursor: pointer;

        color: #FFFFFF;
        border-radius: 5px;
        background: #15974b;
        letter-spacing: 0.29px;
        transition: all 0.3s ease 0s;
        border: 1px solid transparent;
    }
    .button:hover {
        opacity: 0.75;
        color: #FFF;
        background-color: #e43829;
    }
    .actualContent {
        background: #FFFFFF;
        padding: 45px 45px;
    }
}
