.active {
    color: #00695c;
    padding: 2px 10px;
    border-radius: 25px;
    background: #b2dfdb;

    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.inactive {
    cursor: pointer;
    color: #CC0000;
    padding: 2px 10px;
    text-align: center;
    border-radius: 25px;
    background: #ef9a9a;
    display: inline-block;
}