.navContainer {
    padding: 50px;
}

.navItem {
    font-family: "IBM Plex Sans", sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin-top: 15px;
    color: #001011;
    display: inline-block;
    text-transform: uppercase;
}

.navItem:hover {
    color: #15974b
}

.navItem:active {
    color: #15974b;
}

.navBtn {
    width: 150px;
    border: 1px solid #15974b;
    background-color: white;
    font-family: "IBM Plex Sans", sans-serif !important;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    color: #15974b;
    text-align: center;
}

.navBtn:hover {
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 767px){
    .navContainer {
        padding: 50px;
    }

    .navItem {
        font-family: "IBM Plex Sans", sans-serif !important;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #001011;
    }

    .navItem:hover {
        color: #15974b
    }

    .navItem:active {
        color: #15974b;
    }

    .navBtn {
        width: 131px;
        height: 41px;
        border: 1px solid #15974b;
        background-color: white;
        font-family: "IBM Plex Sans", sans-serif !important;
        padding: 6px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        margin-top: 20px;
        color: #15974b;
    }

    .navBtn:hover {
        text-decoration: none;
    }
}
