.imageContainer {
    background: #e5e5e5;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 25px;
}
.imageContainer img {
    height: 95%;
    width: 950%;
    max-width: 95%;
    max-height: 95%;
}

.button {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
    width: 100%;
    padding: 15px 25px;
    border: 1px solid #15974b;
    border-radius: 5px;

    text-align: left;
}
.button span {
    color: #15974b;
    font-size: 16px;
    font-family: Lato;
    margin-left: 25px;
}

.croppedImage {
    width: 150px;
    height: 150px;
    margin: 2rem auto;
}

.upload_image {
    display: none;
}

.ReactCrop__image {
    height: 300px !important;
}

.center {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.submitButton {
    padding: 15px 25px;
    border: 1px solid #15974b;
    border-radius: 5px;
}

@media screen and (min-width: 900px) {
    .container {
        display: flex;
    }
    .imageContainer {
        width: 200px;
        margin-right: 25px;
    }
}
